
  .work {
    position: relative;
    display: flex;
    width: 960px;
    max-width: 80%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    transform: translateY(-45px);
  }
  @media (max-width: 1180px) {
    .work {
      max-width: 100%;
    }
  }
  .work h2 {
    margin: 0 0 20px 0;
    font-size: 30px;
    text-align: center;
  }
  .work--lockup {
    position: relative;
  }
  .work--lockup .slider {
    position: relative;
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
  }
  .work--lockup .slider--item {
    position: absolute;
    display: none;
    text-align: center;
  }
  .work--lockup .slider--item a {
    text-decoration: none;
    color: #858585;
  }
  .work--lockup .slider--item-title {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .work--lockup .slider--item-description {
    display: none;
    max-width: 250px;
    margin: 0 auto;
  }
  .work--lockup .slider--item-image {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
  }
  .work--lockup .slider--item-image img {
    width: 100%;
  }
  .work--lockup .slider--item-left {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: block;
  }
  .work--lockup .slider--item-right {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: block;
  }
  .work--lockup .slider--item-center {
    position: relative;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
  }
  .work--lockup .slider--item-center a {
    color: #fff;
  }
  .work--lockup .slider--item-center .slider--item-title {
    margin-top: 25px;
    font-size: 16px;
  }
  .work--lockup .slider--item-center .slider--item-description {
    display: block;
  }
  .work--lockup .slider--item-center .slider--item-image {
    width: 300px;
    height: 300px;
  }
  .work--lockup .slider--next,
  .work--lockup .slider--prev {
    position: absolute;
    top: 160px;
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: #b0262b;
    border-radius: 50%;
    cursor: pointer;
  }
  
  
  .work--lockup .slider--next svg,
  .work--lockup .slider--prev svg {
    width: 20px;
    fill: #fff;
  }
  .work--lockup .slider--next {
    right: 0;
  }
  .work--lockup .slider--prev {
    left: 0;
  }
  
  @media (max-width: 900px) {
    .work--lockup .slider--item-image {
      width: 120px;
      height: 120px;
    }
    .work--lockup .slider--item-center .slider--item-image {
      width: 240px;
      height: 240px;
    }
    .work--lockup .slider--next,
  .work--lockup .slider--prev {
      top: 130px;
    }
  }
  @media (max-width: 767px) {
    .work--lockup .slider {
      width: 75%;
    }
    .work--lockup .slider--item-image {
      width: 90px;
      height: 90px;
    }
    .work--lockup .slider--item-center .slider--item-image {
      width: 190px;
      height: 190px;
    }
    .work--lockup .slider--next,
  .work--lockup .slider--prev {
      top: 105px;
    }
  }
  @media (max-width: 600px) {
    .work--lockup .slider {
      width: auto;
    }
    .work--lockup .slider--item-left, .work--lockup .slider--item-right {
      display: none;
    }
  }
  
  